<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>The Mercury Messenger</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'align_app/css/mercury.css' %}"> 
    <style>
        .bg {
            background-image: url("{% static 'align_app/images/wow.png' %}");
            background-size:inherit;
        }
    </style>
</head>
<body>
    <div id="video_bg" style="position: absolute; top: 0; width: 100%; height: 100%; z-index: -1;">
        <video style="min-width: 100%; min-height: 100%; position: fixed;" autoplay loop muted>
                <source src="{% static 'align_app/images/stars-high-720.mp4' %}" type="video/mp4">
        </video>
    </div>
    <div class="container text-white font-weight-lighter">
        <div class="row m-3 text-white font-weight-lighter">
            <a href="/mercury/{{request.session.id}}/profile" class="col-7 text-white font-weight-lighter" style="text-decoration: none;"><h3 class="font-weight-lighter">{{request.session.username}}</h3></a>
            <a href="/dashboard" id="dash" class="col-2 text-white text-right font-weight-lighter">Back to Venus</a> 
            <p class="col-1 text-right"> | </p>
            <a href="/" id="logout" class="col-2 text-white text-right font-weight-lighter">Back to Earth</a>
        </div>
        <div class="bg p-3 m-5">
            <h2 class="font-weight-lighter">The Mercury Messenger</h2>
            <div class="contain">
                <form action="/create_message/{{recipient.id}}" method="POST" class="postit" id="createform">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Connect with {{recipient.username}}...</label>
                        <input type="text" name="message"></textarea>
                        <button type="submit" class="btn btn-outline-light mb-2">Post Message</button>
                    </div>
                </form>
                <div class="messages p-3">
                    {% for message in all_messages %}
                        <h4 class="text-white font-weight-lighter">{{message.user.username}} || {{message.created_at}}</h4>
                        <p>{{message.message}}</p>
                        <div class="commentary">
                            {% for comment in message.comments.all %}
                            <h5 class="text-white font-weight-lighter">{{comment.user.username}} || {{comment.created_at}}</h5>
                            <p>{{comment.comment}}</p>
                                {% if comment.user.username == request.session.username %}
                                <form action="/delete_comment/{{recipient.id}}" method="POST" class="forms" id="deleteform">
                                    {% csrf_token %}
                                    <input type="hidden" name="comment_id" value="{{comment.id}}" id="deletebutton">
                                    <button type="submit" class="btn btn-outline-danger mb-2" id="delete">Delete</button>
                                </form>
                            {% endif %}
                                {% endfor %}
                        <form action="/create_comment/{{recipient.id}}" method="POST" class="forms" id="commentform">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Post a comment:</label>
                                <input type="text" name="comment"></textarea>
                                <input type="hidden" name="message_id" value="{{message.id}}">
                                <button type="submit" class="btn btn-outline-light mb-2">Post Comment</button>
                            </div> 
                        </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>